---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
---

<Layout title='Preston Jones'>
	<Section id='home' backgroundColor='blue1'>Home section</Section>
	<Section id='about' backgroundColor='blue2'>About section</Section>
	<Section id='resume' backgroundColor='blue3'>Resume section</Section>
	<Section id='contact' backgroundColor='blue4'>Contact section</Section>
</Layout>
