---
interface Props {
	id: string
	backgroundColor: 'blue1' | 'blue2' | 'blue3' | 'blue4'
}

const { id, backgroundColor } = Astro.props

const getBackgroundColor = () => {
	switch (backgroundColor) {
		case 'blue1':
			return '#1C7293'
		case 'blue2':
			return '#065A82'
		case 'blue3':
			return '#1B3B6F'
		case 'blue4':
			return '#21295C'
	}
}
---

<section id={id} class='section'>
	<slot />
</section>

<style define:vars={{ backgroundColor: getBackgroundColor() }}>
	.section {
		height: 100svh;
		padding: 3rem 0 0;
		background-color: var(--backgroundColor);
		overflow: scroll;
	}
</style>
